@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "InnerPage.cshtml";
    var banner = Model.Root().Descendant<InnerBanner>();
    var research = Model as Research;
}
<!-- Page Title -->
<section class="page-title centred" style="background-image: url(@banner?.BackgroundImage?.Url());">
    <div class="auto-container">
        <div class="content-box">
            <div class="shape"></div>
            <div class="title">
                <h1>Research Center</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Research Center</li>
                <li>@research.Title</li>
            </ul>
        </div>
    </div>
</section>
<!-- about-section -->
<!-- event-details -->
<section class="event-details sec-pad-2">
    <div class="pattern-layer" style="background-image: url(../../assets/images/shape/shape-67.png);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-9 col-md-12 col-sm-12 content-side">
                <div class="event-details-content">
                    <div class="content-one">
                        @if (research.Image != null)
                        {
                            <figure class="image"><img src="@research.Image.Url()" alt=""></figure>
                        }
                        <div class="text">
                            <h3>@research.Title</h3>
                            <p class="black-text">@research.ShortDescription</p>
                            <p>@research.Description</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 sidebar-side">
                <div class="events-sidebar">
                    <div class="speaker-box">
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="expand navbar-collapse show clearfix">
                                <ul class="navigation clearfix">
                                    <li class="dropdown">
                                        @if (research.Children.Cast<SubResearch>().Count() >= 1)
                                        {
                                            <a href="#">@research.Name Resources</a>
                                            <ul>
                                                @foreach (var subresource in research.Children.Cast<SubResearch>().ToList())
                                                {
                                                    <li><a href="@subresource.Url()">@subresource.Name</a></li>
                                                }
                                            </ul>
                                        }

                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- event-details end -->
